<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="5.10.3" targetFramework="net452" />
  <package id="NUnit" version="3.12.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.16.1" targetFramework="net452" developmentDependency="true" />
  <package id="OpenQA.Selenium.Winium" version="1.0.0.4" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="86.0.4240.2200" targetFramework="net452" />
  <package id="SeleniumBrowsers.InvokationCore" version="1.0.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
</packages>